{{!-- <span class='ember-tip'>event.gatekeeper</span> --}}
  {{#if event.proposalsOpen}}
    {{propose-topics event=event
                     discussions=discussions
                     isAuthenticated=isAuthenticated
                     isAdmin=isAdmin
                     newDiscussion=newDiscussion
                     createDiscussion='createDiscussion'
                     deleteDiscussion='deleteDiscussion'
                     updateDiscussion='updateDiscussion'}}
  {{else if event.votingOpen}}
    <h3>Voting is Open!</h3>
    <p>Your friendly event organizers love stickers and sticky notes, so they've
    built an analog voting wall for you. You'll receive exactly
    {{event.maxVotes}} stickers that you can put on your favorite sessions. Use
    your votes wisely!</p>
    <p>Go get your stickers and cast your votes!</p>
  {{else if event.scheduleFinalized}}
    <h3>Session Schedule</h3>
    <p>The event organizers have counted the votes and scheduled the winning
      sessions. Here's what you can look forward to today!</p>
    <h4>Sessions</h4>
    <ul>
      {{#each event.displayTimes as |displayTime|}}
        <li>{{displayTime}}</li>
      {{/each}}
    </ul>
    <h4>Rooms</h4>
    <ul>
      {{#each event.roomNames as |roomName|}}
        <li>{{roomName}}</li>
      {{/each}}
    </ul>
    <h4>Unordered Timeslots</h4>
    <ul>
      {{#each timeslots as |timeslot|}}
        <li>{{timeslot.startTime}} - {{timeslot.endTime}} ({{timeslot.roomName}})</li>
      {{/each}}
    </ul>
  {{else}}
    <p class='ember-tip'>Something's wrong. Can't figure out event status</p>
  {{/if}}
