
{{#bs-navbar type=(if inverse 'inverse') fluid=fluid collapsed=collapsed onCollapse=(action (mut collapsed) true) onExpand=(action (mut collapsed) false) as |navbar|}}
  <div class="navbar-header">
    {{navbar.toggle}}
    <strong>{{#link-to "application" class="navbar-brand"}}
      Unscheduler > {{event.name}} >
      {{#if event.proposalsOpen}} Proposing{{/if}}
      {{#if event.votingOpen}} Voting{{/if}}
      {{#if event.scheduleFinalized}} Schedule{{/if}}
      {{/link-to}}</strong>
  </div>
  {{#navbar.content}}
    {{#navbar.nav class='navbar-right' as |nav|}}
      {{#if isAuthenticated}}
        {{#if isAdmin}}
            {{#nav.item}}{{#nav.link-to "admin"}}Admin{{/nav.link-to}}{{/nav.item}}
        {{/if}}
        {{#nav.item}}{{#nav.link-to "change-password"}}Change Password{{/nav.link-to}}{{/nav.item}}
        {{#nav.item}}<a href="#" {{action "signOut"}}>Sign Out</a>{{/nav.item}}
      {{else}}
        {{#nav.item}}{{#nav.link-to "sign-up"}}Sign Up{{/nav.link-to}}{{/nav.item}}
        {{#nav.item}}{{#nav.link-to "sign-in"}}Sign In{{/nav.link-to}}{{/nav.item}}
      {{/if}}
    {{/navbar.nav}}
  {{/navbar.content}}
{{/bs-navbar}}

{{#each flashMessages.queue as |flash|}}
  {{flash-message flash=flash}}
{{/each}}

<div>
  {{outlet}}
</div>
