{{#if isAdmin}}
<span class="ember-tip">USER IS ADMIN</span>
{{else if isAuthenticated}}
  <span class="ember-tip">USER IS NOT AN ADMIN</span>
{{else}}
  <span class="ember-tip">NO ONE IS SIGNED IN</span>
{{/if}}
<p class="ember-tip">current path: {{this.currentPath}}</p>
<ul class="ember-tip">
<li>event is {{event}}</li>
<li>event.name is {{event.name}}</li>
<li>proposalsOpen: {{event.proposalsOpen}}</li>
<li>votingOpen: {{event.votingOpen}}</li>
<li>scheduleFinalized: {{event.scheduleFinalized}}</li>
<li>maxVotes: {{event.maxVotes}}</li>
</ul>

<p class="ember-tip">this is trying to build a list of timeslots from RSVP within my-application.hbs</p>
<ul>
  {{#each timeslots as |timeslot|}}
    <li>{{timeslot.startTime}} - {{timeslot.endTime}} ({{timeslot.roomName}})</li>
  {{/each}}
</ul>

//THIS CODE NOT WORKING BECAUSE OF RELATIONSHIP ISSUES
{{!-- trying to print list of start times:
<ul>
{{#each event.timeslots as |timeslot|}}
  <li>{{timeslot.startTime}}</li>
{{/each}}
</ul> --}}
{{!-- <li>event.timeslots.startTime is: {{event.timeslots}}</li> --}}
{{!-- <li>event.user.email is: {{event.user.email}}</li> --}}

{{#bs-navbar type=(if inverse 'inverse') fluid=fluid collapsed=collapsed onCollapse=(action (mut collapsed) true) onExpand=(action (mut collapsed) false) as |navbar|}}
  <div class="navbar-header">
    {{navbar.toggle}}
    <strong>{{#link-to "application" class="navbar-brand"}}Unscheduler{{/link-to}}</strong>
  </div>
  {{#navbar.content}}
    {{#navbar.nav class='navbar-right' as |nav|}}
      {{#if isAuthenticated}}
        {{#if isAdmin}}
            {{#nav.item}}{{#nav.link-to "admin"}}Admin{{/nav.link-to}}{{/nav.item}}
        {{/if}}
        {{#nav.item}}{{#nav.link-to "change-password"}}Change Password{{/nav.link-to}}{{/nav.item}}
        {{#nav.item}}<a href="#" {{action "signOut"}}>Sign Out</a>{{/nav.item}}
      {{else}}
        {{#nav.item}}{{#nav.link-to "sign-up"}}Sign Up{{/nav.link-to}}{{/nav.item}}
        {{#nav.item}}{{#nav.link-to "sign-in"}}Sign In{{/nav.link-to}}{{/nav.item}}
      {{/if}}
    {{/navbar.nav}}
  {{/navbar.content}}
{{/bs-navbar}}

<h1>{{event.name}}</h1>

{{#each flashMessages.queue as |flash|}}
  {{flash-message flash=flash}}
{{/each}}

<div class="col-md-8 col-md-offset-2">
  {{outlet}}
</div>

<strong>
  {{#if event.proposalsOpen}}
    {{propose-topics event=event
                     discussions=discussions
                     isAuthenticated=isAuthenticated
                     isAdmin=isAdmin
                     newDiscussion=newDiscussion
                     createDiscussion='createDiscussion'
                     deleteDiscussion='deleteDiscussion'
                     updateDiscussion='updateDiscussion'}}
  {{else if event.votingOpen}}
    <p>Voting is open. (put a component here)</p>
  {{else if event.scheduleFinalized}}
    <p>Schedule is finalized. (put a component here)</p>
  {{else}}
    <p>Something's wrong. Can't figure out event status</p>
  {{/if}}
</strong>
