{{#bs-navbar type=(if inverse 'inverse') fluid=fluid collapsed=collapsed onCollapse=(action (mut collapsed) true) onExpand=(action (mut collapsed) false) as |navbar|}}
  <div class="navbar-header">
    {{navbar.toggle}}
    {{#link-to "application" class="navbar-brand"}}Home{{/link-to}}
  </div>
  {{#navbar.content}}
    {{#navbar.nav class='navbar-right' as |nav|}}
      {{#if isAuthenticated}}
        {{#nav.item}}{{#nav.link-to "change-password"}}Change Password{{/nav.link-to}}{{/nav.item}}
        {{#nav.item}}<a href="#" {{action "signOut"}}>Sign Out</a>{{/nav.item}}
      {{else}}
        {{#nav.item}}{{#nav.link-to "sign-up"}}Sign Up{{/nav.link-to}}{{/nav.item}}
        {{#nav.item}}{{#nav.link-to "sign-in"}}Sign In{{/nav.link-to}}{{/nav.item}}
      {{/if}}
    {{/navbar.nav}}
  {{/navbar.content}}
{{/bs-navbar}}

<h1>Welcome to Ember!</h1>

{{#each flashMessages.queue as |flash|}}
  {{flash-message flash=flash}}
{{/each}}

<div class="col-md-8 col-md-offset-2">
  {{outlet}}
</div>
