{{!-- <span class="ember-tip">admin-panel.hbs: </span> --}}
{{admin/event-name-form event=event
                        updateEventName='updateEventName'}}
<br>
{{admin/max-votes-form event=event
                       updateMaxVotes='updateMaxVotes'}}
<br>
{{admin/event-stage-form event=event
                         setEventStage='setEventStage'}}
<br>

<h3>Current Timeslots</h3>
<ul>
  {{#each event.timeslots as |timeslot|}}
  <li>{{timeslot.startTime}} - {{timeslot.endTime}} ({{timeslot.roomName}})</li>
  {{/each}}
</ul>
<br>
<h3>Create a timeslot</h3>
{{admin/timeslots-form   event=event
                         createTimeslot='createTimeslot'}}
<br>
