<strong> Click to set current event stage: </strong>
{{#if event.proposalsOpen}}
  <button class="stage selected" id="proposalsOpen" {{action "setEventStage"}}>Proposals Open</button>
{{else}}
  <button class="stage" id="proposalsOpen" {{action "setEventStage"}}>Proposals Open</button>
{{/if}}

{{#if event.votingOpen}}
  <button class="stage selected" id="votingOpen" {{action "setEventStage"}}>Voting Open</button>
{{else}}
  <button class="stage" id="votingOpen" {{action "setEventStage"}}>Voting Open</button>
{{/if}}

{{#if event.scheduleFinalized}}
  <button class="stage selected" id="scheduleFinalized" {{action "setEventStage"}}>Schedule Finalized</button>
{{else}}
  <button class="stage" id="scheduleFinalized" {{action "setEventStage"}}>Schedule Finalized</button>
{{/if}}
