<strong> Click to set current event stage: </strong>
{{#if event.proposals_open}}
  <button class="stage selected" id="proposals_open" {{action "setEventStage"}}>Proposals Open</button>
{{else}}
  <button class="stage" id="proposals_open" {{action "setEventStage"}}>Proposals Open</button>
{{/if}}

{{#if event.voting_open}}
  <button class="stage selected" id="voting_open" {{action "setEventStage"}}>Voting Open</button>
{{else}}
  <button class="stage" id="voting_open" {{action "setEventStage"}}>Voting Open</button>
{{/if}}

{{#if event.schedule_finalized}}
  <button class="stage selected" id="schedule_finalized" {{action "setEventStage"}}>Schedule Finalized</button>
{{else}}
  <button class="stage" id="schedule_finalized" {{action "setEventStage"}}>Schedule Finalized</button>
{{/if}}
